@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body { margin: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
}
