services:
  influxdb:
    image: influxdb:2
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: adminadmin
      DOCKER_INFLUXDB_INIT_ORG: LightMySatellite
      DOCKER_INFLUXDB_INIT_BUCKET: slr
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: super-secret-token
    volumes:
      - influxdb_data:/var/lib/influxdb2

volumes:
  influxdb_data: